body {
	background-color: rgba(0, 0, 0, 0.9);

}
#modal_container {
	background-color: black;
	width: 100%;
	height: 100vh;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}
.col-centered {
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}

#caption {
	position: absolute;
	bottom: 30px;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 19px;
	padding-right: 30px;
}

#caption a {
	color: white;
	text-decoration: underline;
}

#modal_img {
	text-align: center;
	position: relative;
	top: 80px;
	overflow: hidden;
}

#modal_img img {
	width: 400px;
}